<template>
  <page :title="$t('title.calculator')">
    <message :icon="hasError ? 'error' : 'progress'" v-show="loading || error">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content" ref="page">
      <tabs :current="currentMode" :next="nextMode" :prev="prevMode"/>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="game-form" v-show="$route.params.mode === 'build'">
        <div class="game-header">
          <div class="stat">
            <img alt="health" src="../assets/stats/health.png" />
            <span>{{ health | bonusValue }}</span>
          </div>
          <div class="stat">
            <img alt="energy" src="../assets/stats/energy.png" />
            <span>{{ energy | bonusValue }}</span>
          </div>
        </div>
        <div class="game-base">
          <div class="game-slots">
            <IconSlot :icon="slots[0].icon" :level="slots[0].level" @click.native="slotClick(0)" content="game-item" sub="cape"/>
            <IconSlot :icon="slots[1].icon" :level="slots[1].level" @click.native="slotClick(1)" content="game-item" sub="head"/>
            <IconSlot :icon="slots[2].icon" :level="slots[2].level" @click.native="slotClick(2)" content="game-item" sub="amulet"/>

            <IconSlot :icon="slots[3].icon" :level="slots[3].level" @click.native="slotClick(3)" content="game-item" sub="weapon_left"/>
            <IconSlot :icon="slots[4].icon" :level="slots[4].level" @click.native="slotClick(4)" content="game-item" sub="body"/>
            <IconSlot :icon="slots[5].icon" :level="slots[5].level" @click.native="slotClick(5)" content="game-item" sub="weapon_right"/>

            <IconSlot :icon="slots[6].icon" :level="slots[6].level" @click.native="slotClick(6)" content="game-item" sub="suit"/>
            <IconSlot :icon="slots[7].icon" :level="slots[7].level" @click.native="slotClick(7)" content="game-item" sub="belt"/>
            <IconSlot :icon="slots[8].icon" :level="slots[8].level" @click.native="slotClick(8)" content="game-item" sub="hand"/>

            <IconSlot :icon="slots[9].icon" :level="slots[9].level" @click.native="slotClick(9)" content="game-item" sub="ring"/>
            <IconSlot :icon="slots[10].icon" :level="slots[10].level" @click.native="slotClick(10)" content="game-item" sub="foot"/>
            <IconSlot :icon="slots[11].icon" :level="slots[11].level" @click.native="slotClick(11)" content="game-item" sub="ring"/>
          </div>
          <div class="game-view">
            <div class="hero-look"></div>
            <span @click="openDialog('level')" class="level-label">{{ $t('label.level', [ level ]) }}</span>
            <table class="short-stats">
              <tr>
                <td>
                  <img alt="health" src="../assets/stats/damage.png" />
                </td>
                <td></td>
                <td>
                  <img alt="health" src="../assets/stats/defence.png" />
                </td>
              </tr>
              <tr>
                <td><div>{{ damage.physic | bonusValue }}</div></td>
                <td>
                  <img alt="health" src="../assets/stats/physical_dmg.png" />
                </td>
                <td><div>{{ defence.physic | bonusValue }}</div></td>
              </tr>
              <tr>
                <td><div>{{ damage.magic | bonusValue }}</div></td>
                <td>
                  <img alt="health" src="../assets/stats/magic_dmg.png" />
                </td>
                <td><div>{{ defence.magic | bonusValue }}</div></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="game-foot">
          <div class="foot-part-1 d">
            <!--suppress HtmlUnknownTarget -->
            <img :alt="chosenFaction.name" :src="factionIcon" @click="openDialog('faction')" height="30" width="30"/>
          </div>
          <div class="foot-part-2">
            <div @click="openDialog('faction')" class="foot-part-3 d">{{ chosenFaction.name }}</div>
            <div @click="openDialog('class')" class="foot-part-3 l">{{ chosenClass.name }}</div>
          </div>
          <div class="foot-part-1 l">
            <!--suppress HtmlUnknownTarget -->
            <img :alt="chosenClass.name" :src="classIcon" @click="openDialog('class')" height="30" width="30"/>
          </div>
        </div>
        <div class="dialogs" v-show="dialogs.length > 0">
          <transition-group name="dialog">
            <calculator-dialog key="faction" v-show="dialogs.includes('faction')">
              <div class="list">
                <div :key="faction.id" @click="selectFaction(faction.id)" class="item" v-for="faction in factions">
                  <icon-slot :icon="faction.icon" />
                  <span :class="{ 'selected': chosenFaction.id === faction.id }" class="text">{{ faction.name }}</span>
                </div>
              </div>
            </calculator-dialog>
            <calculator-dialog key="class" v-show="dialogs.includes('class')">
              <div class="list">
                <div :key="cls.id" @click="selectClass(cls.id)" class="item" v-for="cls in factionClasses">
                  <icon-slot :icon="cls.icon" />
                  <span :class="{ 'selected': clazz === cls.id }" class="text">{{ cls.name }}</span>
                </div>
              </div>
            </calculator-dialog>
            <calculator-dialog key="level" v-show="dialogs.includes('level')">
              <div class="list">
                <div :key="i" @click="selectLevel(i)" class="item" v-for="i in levels">
                  <span :class="{ 'selected': level === i }" class="text">{{ i }}</span>
                </div>
              </div>
            </calculator-dialog>
            <calculator-dialog key="items" v-show="dialogs.includes('items')">
              <div :style="{ display: 'flex' }">
                <textbox :style="{ 'flex-grow': '1' }" v-model="listFilter"/>
                <button @click="closeDialog('items')" class="close-btn"></button>
              </div>
              <div class="list">
                <div :key="i.id" @click="showItem(i)" class="item" v-for="i in itemList">
                  <icon-slot :icon="i.icon" :level="i.level" content="game-item"/>
                  <span :class="'item-color-' + itemColor(i.bind, i.color)" class="text">{{ i.name }}</span>
                </div>
              </div>
            </calculator-dialog>
            <calculator-dialog key="item" v-show="dialogs.includes('item')">
              <item-box :item="selectedItem" @close="closeBox" @use="useBox"  buttons v-if="selectedItem !== null"/>
            </calculator-dialog>
          </transition-group>
        </div>
      </div>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="game-form" v-show="$route.params.mode === 'result'">
        <div class="results">
          <tabs :current="currentResultTab" :next="nextResultTab" :prev="prevResultTab" @go="goResult" event-mode/>
          <div class="list" v-show="resultTab === 0">
            <div :key="s.id" class="item" v-for="s in getStatsForTab(1)">
              <icon-slot :icon="s.icon"/>
              <span class="text" v-text="s.name" />
              <span class="val">{{ s | bonusValue }}</span>
            </div>
          </div>
          <div class="list" v-show="resultTab === 1">
            <div :key="s.id" class="item" v-for="s in getStatsForTab(2)">
              <icon-slot :icon="s.icon"/>
              <span class="text" v-text="s.name" />
              <span class="val">{{ s | bonusValue }}</span>
            </div>
          </div>
          <div class="list" v-show="resultTab === 2">
            <div :key="s.id" class="item" v-for="s in getStatsForTab(3)">
              <icon-slot :icon="s.icon"/>
              <span class="text" v-text="s.name" />
              <span class="val" v-if="s.id < 3">{{ s | bonusValue | defencePercent }}</span>
              <span class="val" v-if="s.id > 2">{{ s | bonusValue }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import Tabs from '@/components/tabs'
import IconSlot from '@/components/iconSlot'
import {
  bonusValue,
  emptyItem,
  getCalculator,
  getClassInfo,
  getIconURL,
  getItem,
  getSlotItems,
  itemColor,
  powerUpItem
} from '@/api'
import CalculatorDialog from '@/components/calculator-dialog'
import Textbox from '@/components/textbox'
import ItemBox from '@/components/item-box'
export default {
  name: 'calculator',
  components: { ItemBox, Textbox, CalculatorDialog, IconSlot, Page, Message, Tabs },
  data () {
    return {
      loading: true,
      error: 0,
      id: 0,
      factions: [],
      classes: [],
      maxLevel: 0,
      level: 0,
      clazz: 0,
      size: 0,
      offset: 0,
      dialogs: [],
      items: [],
      slots: [
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 },
        { id: 0, icon: null, level: 0 }
      ],
      selectedSlot: -1,
      selectedItem: null,
      listFilter: '',
      classInfo: {
        health: 0,
        energy: 0,
        regenerationHP: 0,
        regenerationMP: 0
      },
      bonuses: [],
      resultTab: 0,
      skills: []
    }
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    currentMode () {
      return this.$t('title.calculator_mode.' + this.$route.params.mode)
    },
    nextMode () {
      return {
        name: 'calculator',
        params: {
          id: this.id,
          mode: this.getNext()
        }
      }
    },
    prevMode () {
      return {
        name: 'calculator',
        params: {
          id: this.id,
          mode: this.getPrev()
        }
      }
    },
    chosenClass () {
      if (this.clazz === 0) {
        return {}
      }
      return this.classes.find((c) => c.id === this.clazz)
    },
    chosenFaction () {
      if (this.clazz === 0) {
        return {}
      }
      return this.factions.find((f) => f.id === this.chosenClass.faction)
    },
    factionClasses () {
      return this.classes.filter((c) => c.faction === this.chosenClass.faction)
    },
    classIcon () {
      if (!(this.chosenClass.icon)) {
        return ''
      }
      return getIconURL(this.chosenClass.icon)
    },
    factionIcon () {
      if (!(this.chosenFaction.icon)) {
        return ''
      }
      return getIconURL(this.chosenFaction.icon)
    },
    levels () {
      return [...Array(this.maxLevel).keys()].map((l) => l + 1).sort((a, b) => b - a)
    },
    itemList () {
      if (this.listFilter.length < 1) {
        return this.items
      }
      const filter = this.listFilter.toLowerCase()
      return this.items.filter((i) => i.name.toLowerCase().includes(filter))
    },
    selectedItemIcon () {
      if (this.selectedItem === null) {
        return ''
      }
      return getIconURL(this.selectedItem.icon)
    },
    stats () {
      const res = this.bonuses.map((e) => { return { ...e, value: 0 } })
      const sets = {}
      for (let i = 0; i < this.slots.length; i++) {
        const slot = this.slots[i]
        if (slot.icon !== null) {
          let one = true
          for (let stat of [...slot.stats, slot.crystal, slot.rune]) {
            if (stat.id === 0 || stat.id === null) {
              continue
            }
            if (one) {
              one = false
              stat = {
                ...stat,
                value: powerUpItem(slot.type, slot.sub, stat.value, slot.power)
              }
            }
            const o = res.find((r) => r.id === stat.id)
            if (o) {
              if (i === 5 && stat.id === 8) {
                o.value += stat.value * 0.6
              } else {
                o.value += stat.value
              }
            }
          }
          if (slot.set.id !== null) {
            if (slot.set.id in sets) {
              sets[slot.set.id]++
            } else {
              sets[slot.set.id] = 1
            }
            switch (sets[slot.set.id]) {
              case 2: {
                const o = res.find((r) => r.id === slot.set.stats[0].id)
                if (o && o.id !== 79) {
                  o.value += slot.set.stats[0].value
                }
                break
              }
              case 4: {
                const o = res.find((r) => r.id === slot.set.stats[1].id)
                if (o && o.id !== 79) {
                  o.value += slot.set.stats[1].value
                }
                break
              }
            }
          }
        }
      }
      const regHP = res.find((r) => r.id === 23)
      if (regHP) {
        regHP.value += this.classInfo.regenerationHP
      }
      const regMP = res.find((r) => r.id === 24)
      if (regMP) {
        regMP.value += this.classInfo.regenerationMP
      }
      const health = res.find((r) => r.id === 25)
      if (health) {
        health.value += this.classInfo.health
      }
      const energy = res.find((r) => r.id === 26)
      if (energy) {
        energy.value += this.classInfo.energy
      }
      const physic = res.find((r) => r.id === 8)
      if (physic) {
        physic.value += this.level * 100
      }
      const magic = res.find((r) => r.id === 9)
      if (magic) {
        magic.value += this.level * 100
      }

      // Add faction bonus
      if (this.chosenFaction.bonus) {
        for (const bonus of this.chosenFaction.bonus) {
          res.find((r) => r.id === bonus.f1).value += bonus.f2
        }
      }

      // ------ [begin] Execute percents
      if (res.length > 0) {
        // Base critical rate
        res.find((r) => r.id === 17).value += 500
        // Base dodge
        res.find((r) => r.id === 15).value += 500
        // Base resilience
        res.find((r) => r.id === 18).value += 500
        // Physic damage
        res.find((r) => r.id === 8).value *= 1 + (res.find((r) => r.id === 13).value / 10000)
        // Magic damage
        res.find((r) => r.id === 9).value *= 1 + (res.find((r) => r.id === 14).value / 10000)
        // Physic defence
        res.find((r) => r.id === 1).value *= 1 + (res.find((r) => r.id === 62).value / 10000)
        // Magic defence
        res.find((r) => r.id === 2).value *= 1 + (res.find((r) => r.id === 64).value / 10000)
        // Health
        res.find((r) => r.id === 25).value *= 1 + (res.find((r) => r.id === 29).value / 10000)
        // Energy
        res.find((r) => r.id === 26).value *= 1 + (res.find((r) => r.id === 31).value / 10000)
        // Health regeneration
        res.find((r) => r.id === 23).value *= 1 + (res.find((r) => r.id === 64).value / 10000)
        // Energy regeneration
        res.find((r) => r.id === 24).value *= 1 + (res.find((r) => r.id === 65).value / 10000)
        // Fix for "Attack power" duplication
        res.find((r) => r.id === 68).value += res.find((r) => r.id === 77).value
        // Merge extra stats, penetration
        res.find((r) => r.id === 20).value += res.find((r) => r.id === 45).value
        // Merge extra stats, critical rate
        res.find((r) => r.id === 17).value += res.find((r) => r.id === 46).value
        // Merge extra stats, accuracy
        res.find((r) => r.id === 16).value += res.find((r) => r.id === 47).value
        // Merge extra stats, blocking
        res.find((r) => r.id === 22).value += res.find((r) => r.id === 48).value
        // Solidify from defence
        res.find((r) => r.id === 5).value += (1 + Math.pow(res.find((r) => r.id === 1).value / 50000, 1.9)) * 10
      }
      // ------ [ end ] Execute percents

      res.sort((a, b) => a.id - b.id)
      return res
    },
    health () {
      return this.stats.find((s) => s.id === 25)
    },
    energy () {
      return this.stats.find((s) => s.id === 26)
    },
    damage () {
      return {
        physic: this.stats.find((s) => s.id === 8),
        magic: this.stats.find((s) => s.id === 9)
      }
    },
    defence () {
      return {
        physic: this.stats.find((s) => s.id === 1),
        magic: this.stats.find((s) => s.id === 2)
      }
    },
    currentResultTab () {
      return this.$t('label.result_tab.' + this.resultTab)
    },
    prevResultTab () {
      return [2, 0, 1][this.resultTab]
    },
    nextResultTab () {
      return [1, 2, 0][this.resultTab]
    }
  },
  methods: {
    getNext () {
      switch (this.$route.params.mode) {
        case 'result':
          return 'comments'
        case 'comments':
          return 'build'
        default:
          return 'result'
      }
    },
    getPrev () {
      switch (this.$route.params.mode) {
        case 'result':
          return 'build'
        case 'build':
          return 'comments'
        default:
          return 'result'
      }
    },
    resize () {
      this.$nextTick(() => {
        const scale = Math.min(Math.floor(this.$refs.page.clientWidth / 230), 2)
        this.size = scale
        this.offset = Math.floor((scale - 1) * 20 + 50)
      })
    },
    openDialog (type) {
      if (!this.dialogs.includes(type)) {
        this.dialogs = [...this.dialogs, type]
      }
    },
    closeDialog (type) {
      if (this.dialogs.includes(type)) {
        this.dialogs = this.dialogs.filter((d) => d !== type)
      }
    },
    selectFaction (id) {
      if (this.chosenClass.faction !== id) {
        const cls = this.classes.filter((c) => c.faction === id)
        // this.clazz = cls[Math.floor(Math.random() * cls.length)].id
        this.selectClass(cls[Math.floor(Math.random() * cls.length)].id)
      }
      this.closeDialog('faction')
    },
    selectClass (id) {
      if (this.clazz !== id) {
        this.clazz = id
        this.updateClassInfo(true)
      }
      this.closeDialog('class')
    },
    selectLevel (level) {
      if (this.level !== level) {
        this.level = level
        this.updateClassInfo(true)
      }
      this.closeDialog('level')
    },
    slotItems (slot) {
      this.loading = true
      getSlotItems(this.$route.params.lang, this.clazz, slot, this.level).then((e) => {
        this.items = e.data.items
        if (this.items.length > 0) {
          this.openDialog('items')
        }
      }).finally(() => {
        this.loading = false
      })
    },
    setSlot (item) {
      this.$set(this.slots, this.selectedSlot, item)
      this.closeDialog('items')
      this.checkItems(this.selectedSlot === 5)
    },
    showItem (item) {
      this.loading = true
      getItem(this.$route.params.lang, item.id).then((e) => {
        this.selectedItem = {
          ...e.data,
          power: 0,
          crystal: emptyItem,
          rune: emptyItem
        }
        this.openDialog('item')
      }).finally(() => {
        this.loading = false
      })
    },
    showSlot (slot) {
      this.selectedItem = this.slots[slot]
      this.openDialog('item')
    },
    slotClick (slot) {
      this.selectedSlot = slot
      if (this.slots[slot].icon === null) {
        this.slotItems(slot)
      } else {
        this.showSlot(slot)
      }
    },
    closeBox (item) {
      if (this.slots[this.selectedSlot].id === item.id) {
        this.setSlot(item)
      }
      this.closeDialog('item')
    },
    useBox (item) {
      if (this.slots[this.selectedSlot].id === item.id) {
        this.setSlot({
          id: 0,
          icon: null,
          level: 0
        })
      } else {
        this.setSlot(item)
      }
    },
    updateClassInfo (loader = false) {
      if (loader) {
        this.loading = true
      }
      return getClassInfo(this.clazz, this.level).then((e) => {
        this.classInfo.health = e.data.health
        this.classInfo.energy = e.data.energy
        this.classInfo.regenerationHP = e.data.health_regeneration
        this.classInfo.regenerationMP = e.data.energy_regeneration
        this.skills = e.data.skills
        this.checkItems()
      }).finally(() => {
        if (loader) {
          this.loading = false
        }
      })
    },
    goResult (i) {
      this.resultTab = i
    },
    getStatsForTab (tab) {
      return this.stats.filter((s) => s.tab === tab)
    },
    getIconURL (icon) {
      return getIconURL(icon)
    },
    checkItems (preferSecond = false) {
      for (let id = 0; id < this.slots.length; id++) {
        if (this.slots[id].icon !== null) {
          if (this.slots[id].level > this.level || (this.slots[id].skill.id !== null && !this.skills.includes(this.slots[id].skill.id))) {
            this.$set(this.slots, id, { id: 0, icon: null, level: 0 })
          }
        }
      }
      if (this.slots[3].icon !== null && [21, 76, 78, 81, 223].includes(this.slots[3].skill.id) && this.slots[5].icon !== null) {
        if (preferSecond) {
          this.$set(this.slots, 3, { id: 0, icon: null, level: 0 })
        } else {
          this.$set(this.slots, 5, { id: 0, icon: null, level: 0 })
        }
      }
    },
    itemColor (bind, color) {
      return itemColor(bind, color)
    }
  },
  filters: {
    bonusValue (bonus) {
      if (!(bonus)) {
        return 0
      }
      return bonusValue(bonus, false)
    },
    defencePercent (val) {
      return `${val}/${(Math.floor((val * 100 / (val + 6500)) * 10) / 10)}%`
    }
  },
  mounted () {
    this.loading = true
    getCalculator(this.$route.params.lang).then((e) => {
      // noinspection JSUnresolvedVariable
      this.factions = e.data.factions
      this.classes = e.data.classes
      this.maxLevel = e.data.maxLevel
      this.level = e.data.maxLevel
      this.bonuses = e.data.bonuses
      this.clazz = Math.round(Math.random() * (this.classes.length - 1)) + 1
      this.$nextTick(() => this.resize())
      window.addEventListener('resize', this.resize)
      return this.updateClassInfo()
    }).catch((e) => {
      this.error = e.response.status
    }).finally(() => {
      this.loading = false
    })
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.resize)
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .game-form {
    border: 1px solid #A09865;
    height: 257px;
    image-rendering: pixelated;
    margin: auto auto;
    position: relative;
    transform: scale(0);
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 231px;
  }
  .game-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 132px;
  }
  .game-foot {
    border: 1px solid #A09865;
    border-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    height: 51px;
    margin-top: 7px;
    overflow: hidden;
    width: 229px;
  }
  .game-foot .d {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .game-foot .l {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .foot-part-1 {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 51px;
    justify-content: center;
    width: 51px;
  }
  .foot-part-1 > img {
    border: 1px solid #E6C542;
  }
  .foot-part-2 {
    display: flex;
    flex-direction: column;
  }
  .foot-part-3 {
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    height: 25px;
    line-height: 2.2em;
    text-align: center;
    text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000;
    user-select: none;
    width: 126px;
  }
  .foot-part-3.d {
    border-bottom: 1px solid #A09865;
    border-right: 1px solid #A09865;
  }
  .foot-part-3.l {
    border-left: 1px solid #A09865;
  }
  .game-view {
    background-color: rgba(18, 14, 14, 0.46);
    border: 1px solid #A09865;
    border-radius: 7px;
    height: 176px;
    left: 136px;
    top: 0;
    width: 94px;
  }
  .game-base {
    display: flex;
    justify-content: space-between;
    width: 230px;
  }
  .game-header {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
  }
  .game-header > .stat {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    width: 40%;
  }
  .game-header img {
    margin: 2px;
  }
  .dialogs {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .list {
    flex-grow: 1;
    overflow-y: auto;
  }
  .list > .item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .item {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
  .item > span {
    display: inline-block;
    font-size: 0.8em;
  }
  span.selected {
    color: #ff0;
  }

  .dialog-enter-active, .dialog-leave-active {
    transition: opacity .5s;
  }
  .dialog-enter, .dialog-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
  .hero-look { /* temporary solution */
    height: 100px;
  }
  .level-label {
    cursor: pointer;
    display: block;
    font-size: 0.7em;
    margin: 2px;
    text-align: center;
  }
  .close-btn {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../assets/close.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    height: 28px;
    margin: 4px;
    width: 28px;
  }
  .short-stats {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.8em;
    table-layout: fixed;
    text-align: center;
    width: 100%;
  }
  .short-stats tr, .short-stats td {
    height: 16px;
    margin: 0;
    padding: 0;
  }
  .short-stats div {
    display: flex;
    justify-content: center;
  }

  .results {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
  .results > .tabs {
    width: 100%;
  }
  .list > .item {
    justify-content: space-between;
    padding-right: 2px;
  }
  .list > .item > .text {
    flex-grow: 1;
  }
  .list > .item > .val {
    color: #ff0;
  }
</style>
