<template>
  <page :title="$t('title.classes')" class="page">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <message v-show="!loading && classes.length === 0" icon="warning">{{ $t('msg.no_entries') }}</message>
    <textbox v-model="filter"/>
    <div class="list">
      <router-link v-for="clazz in output" :key="clazz.id" :to="{ name: 'class', params: { id: clazz.id } }" class="item-bonus">
        <icon-slot :icon="clazz.icon" />
        <div class="label">{{ clazz.name }}</div>
      </router-link>
    </div>
  </page>
</template>

<script>
import Textbox from '@/components/textbox'
import IconSlot from '@/components/iconSlot'
import Page from '@/components/page'
import Message from '@/components/message'
import { getClasses } from '@/api'

export default {
  name: 'classes',
  components: { Textbox, IconSlot, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      classes: [],
      filter: ''
    }
  },
  mounted () {
    getClasses(this.$route.params.lang).then((e) => {
      this.loading = false
      // noinspection JSUnresolvedVariable
      this.classes = e.data.classes
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    output () {
      const query = this.filter.trim().toLowerCase()
      return this.classes.filter((b) => b.name.toLowerCase().includes(query)).sort((a, b) => {
        return a.id - b.id
      })
    }
  }
}
</script>

<style scoped>
  .page {
    display: flex;
    flex-direction: column;
  }
  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
  }
  .item-bonus {
    display: flex;
    width: 112px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    white-space: normal;
  }
  .item-bonus:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .label {
    height: 32px;
    text-align: center;
  }
</style>
