<template>
  <page :title="$t('title.faction')">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content">
      <block :title="$t('label.info')" :loading="loading">
        <div class="info">
          <!--suppress HtmlUnknownTarget -->
          <img :src="iconPath" :alt="name" width="60" />
          <div class="params">
            <div><label v-t="'label.name'" /> {{ name }}</div>
            <div><label v-t="'label.player_faction'" /> {{ $t('label.' + (usable ? 'yes' : 'no')) }}</div>
            <div><label v-t="'label.skill'" /> <router-link class="link" :to="{ name: 'skill', params: { id: skillID } }">{{ skillName }}</router-link></div>
          </div>
        </div>
      </block>
      <block :title="$t('label.description')" :loading="loading">{{ description }}</block>
      <block :title="$t('label.classes')" :loading="loading" v-show="classes.length > 0">
        <div class="list">
          <router-link v-for="cls in classes" :key="cls.id" :to="{ name: 'class', params: { id: cls.id } }" class="item-class">
            <icon-slot :icon="cls.icon" />
            <div class="label">{{ cls.name }}</div>
          </router-link>
        </div>
      </block>
    </div>
  </page>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getFaction, getIconURL } from '@/api'
import Block from '@/components/block'
import IconSlot from '@/components/iconSlot'
export default {
  name: 'faction',
  components: { Block, Page, Message, IconSlot },
  data () {
    return {
      loading: true,
      error: 0,
      name: '',
      description: '',
      icon: 0,
      usable: false,
      classes: [],
      skillID: 0,
      skillName: ''
    }
  },
  mounted () {
    getFaction(this.$route.params.lang, this.$route.params.id).then((e) => {
      this.name = e.data.name
      this.description = e.data.description
      this.usable = e.data.usable
      this.classes = e.data.classes
      this.skillID = e.data.skill_id
      this.skillName = e.data.skill_name
      const img = new Image()
      img.onload = () => {
        this.icon = e.data.icon
        this.loading = false
      }
      img.onerror = () => {
        this.icon = 0
        this.loading = false
      }
      img.src = getIconURL(e.data.icon)
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    iconPath () {
      return getIconURL(this.icon)
    }
  }
}
</script>

<style scoped>
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .info label {
    color: #ff0;
  }
  .page-content {
    overflow-y: auto;
    height: 100%;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
  }
  .item-class {
    display: flex;
    width: 112px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    white-space: normal;
  }
  .item-class:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .label {
    height: 32px;
    text-align: center;
    text-indent: 0;
  }
</style>
