<template>
  <page :title="$t('title.factions')" class="page">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <message v-show="!loading && factions.length === 0" icon="warning">{{ $t('msg.no_entries') }}</message>
    <textbox v-model="filter" />
    <div class="list">
      <router-link v-for="faction in output" :key="faction.id" :to="{ name: 'faction', params: { id: faction.id } }" class="item">
        <icon-slot :icon="faction.icon" />
        {{ faction.name }}
      </router-link>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getFactions } from '@/api'
import IconSlot from '@/components/iconSlot'
import Textbox from '@/components/textbox'
export default {
  name: 'factions',
  components: { Textbox, IconSlot, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      factions: [],
      filter: ''
    }
  },
  mounted () {
    getFactions(this.$route.params.lang).then((e) => {
      this.loading = false
      // noinspection JSUnresolvedVariable
      this.factions = e.data.factions
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    output () {
      const query = this.filter.trim().toLowerCase()
      return this.factions.filter((b) => b.name.toLowerCase().includes(query)).sort((a, b) => {
        return a.id - b.id
      })
    }
  }
}
</script>

<style scoped>
  .page {
    display: flex;
    flex-direction: column;
  }
  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .list > .item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .item {
    display: block;
  }
</style>
