<!--suppress ALL -->
<template>
  <div class="item-box">
    <div class="row">
      <img :alt="item.name" :src="itemIcon" class="icon"/>
      <span :class="['title', 'item-color-' + itemColor]">{{ itemName }}</span>
    </div>
    <span class="label" v-t="'label.params'"/>
    <div class="row">
      <icon-slot :level="item.level" content="level" />
      <router-link :to="{ name: 'skill', params: { id: item.skill.id } }">
        <icon-slot :icon="item.skill.icon" :style="{ visibility: item.skill.id !== null ? 'visible' : 'hidden' }" :title="item.skill.name" content="bonus" />
      </router-link>
      <div class="params">
        <div :class="['bind', 'bind-color-' + this.itemBind]">{{ $t('label.bind.' + this.itemBind) }}</div>
        <div class="cooldown" v-show="itemCooldown !== 0">{{ itemCooldown }}</div>
      </div>
    </div>
    <span class="label" v-t="'label.bonuses'"/>
    <div class="row">
      <icon-slot :icon="item.stats[0].icon" :level="poweredSlot | bonusValue" :powered="power > 0" :title="item.stats[0].name"  content="bonus" />
      <icon-slot :icon="item.stats[1].icon" :level="item.stats[1] | bonusValue" :powered="item.stats[1].extra" :title="item.stats[1].name" content="bonus" />
      <icon-slot :icon="item.stats[2].icon" :level="item.stats[2] | bonusValue" :powered="item.stats[2].extra" :title="item.stats[2].name" content="bonus" />
      <icon-slot :icon="item.stats[3].icon" :level="item.stats[3] | bonusValue" :powered="item.stats[3].extra" :title="item.stats[3].name" content="bonus" />
    </div>
    <span class="label" v-t="'label.additional'"/>
    <div class="row">
      <icon-slot :icon="crystal.icon" :level="crystal | bonusValue" :powered="crystal.extra" :title="crystal.name"  @click.native="getEnchats(2)"  content="bonus"/>
      <icon-slot :icon="rune.icon" :level="rune | bonusValue" :powered="rune.extra" :title="rune.name"  @click.native="getEnchats(1)"  content="bonus"/>
      <icon-slot :icon="item.set.stats[0].id === 79 ? item.set.skills[0].icon : item.set.stats[0].icon" :level="(item.set.stats[0].id === 79 ? {percent: false, value: 0} : item.set.stats[0]) | bonusValue" :style="{ visibility: itemOfSet ? 'visible' : 'hidden' }" :title="item.set.stats[0].id === 79 ? item.set.skills[0].name : item.set.stats[0].name" />
      <icon-slot :icon="item.set.stats[1].id === 79 ? item.set.skills[1].icon : item.set.stats[1].icon" :level="(item.set.stats[1].id === 79 ? {percent: false, value: 0} : item.set.stats[1]) | bonusValue" :style="{ visibility: itemOfSet ? 'visible' : 'hidden' }" :title="item.set.stats[1].id === 79 ? item.set.skills[1].name : item.set.stats[1].name" />
    </div>
    <div class="buttons-panel" v-if="buttons">
      <button :title="$t('action.use_item')" @click="use" class="btn-use"></button>
      <button :title="$t('action.view_item')" class="btn-view" v-if="canView"></button>
      <button :title="$t('action.power_up')" @click="changePower(1)" class="btn-power-u"></button>
      <button :title="$t('action.power_down')" @click="changePower(-1)" class="btn-power-d"></button>
      <button :title="$t('action.find_on_map')" class="btn-find"></button>
      <button :title="$t('action.close')" @click="cls" class="btn-close"></button>
    </div>
    <transition name="drop">
      <calculator-dialog class="enchant-dialog" v-show="enchants.length > 0">
        <div class="list">
          <div @click="useEnchant(emptyItemObj)" class="item item-color-0">
            <icon-slot />
            <span v-t="'label.empty'" />
          </div>
          <div :key="enchant.id" class="row-base" v-for="enchant in enchants">
            <div @click="useEnchant({ id: enchant.id, icon: enchant.icon, percent: enchant.percent, extra: false, value: enchant.values.base, name: enchant.name })" class="item">
              <icon-slot :icon="enchant.icon" :level="{ percent: enchant.percent, value: enchant.values.base } | bonusValue"/>
              <span>{{ enchant.name }}</span>
            </div>
            <div @click="useEnchant({ id: enchant.id, icon: enchant.icon, percent: enchant.percent, extra: true, value: enchant.values.amp, name: enchant.name })" class="item">
              <icon-slot :icon="enchant.icon" :level="{ percent: enchant.percent, value: enchant.values.amp } | bonusValue" :powered="true"/>
              <span>{{ enchant.name }}</span>
            </div>
          </div>
        </div>
      </calculator-dialog>
    </transition>
  </div>
</template>

<script>
import iconSlot from '@/components/iconSlot'
import { bonusValue, emptyItem, getEnchants, getIconURL, hasLook, itemColor, itemCooldown, powerUpItem } from '@/api'
import CalculatorDialog from '@/components/calculator-dialog'

export default {
  components: { CalculatorDialog, iconSlot },
  name: 'item-box',
  data () {
    return {
      power: 0,
      loading: false,
      enchants: [],
      enchantType: 0,
      crystal: emptyItem,
      rune: emptyItem
    }
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    buttons: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  computed: {
    itemIcon () {
      if (this.item === null) {
        return ''
      }
      return getIconURL(this.item.icon)
    },
    itemOfSet () {
      return this.item.set.id !== null
    },
    canView () {
      return hasLook.includes(this.item.type)
    },
    itemName () {
      if (this.power === 0) {
        return this.item.name
      }
      return `+${this.power} ${this.item.name}`
    },
    poweredSlot () {
      return {
        ...this.item.stats[0],
        value: powerUpItem(this.item.type, this.item.sub, this.item.stats[0].value, this.power)
      }
    },
    emptyItemObj () {
      return emptyItem
    },
    itemCooldown () {
      if (this.item.type < 2) {
        const code = (this.item.type << 16) | this.item.sub
        return ((code in itemCooldown) ? itemCooldown[code] : 0).toFixed(1)
      }
      return 0
    },
    itemBind () {
      return (this.item.bind & 48) >> 4
    },
    itemColor () {
      return itemColor(this.item.bind, this.item.color)
    }
  },
  filters: {
    bonusValue (bonus) {
      return bonusValue(bonus, false)
    }
  },
  event: {
    close: {
      custom: true
    },
    use: {
      custom: true
    }
  },
  methods: {
    cls () {
      this.$emit('close', {
        ...this.item,
        power: this.power,
        crystal: this.crystal,
        rune: this.rune
      })
    },
    use () {
      this.$emit('use', {
        ...this.item,
        power: this.power,
        crystal: this.crystal,
        rune: this.rune
      })
      this.cls()
    },
    changePower (d) {
      this.power = Math.min(10, Math.max(0, this.power + d))
    },
    getEnchats (type) {
      if (this.loading) {
        return
      }
      this.loading = true
      getEnchants(this.$route.params.lang, this.item.type, this.item.skill.id !== null ? this.item.skill.id : 0, this.item.level, type).then((e) => {
        this.enchantType = type
        this.enchants = e.data.enchants
      }).finally(() => {
        this.loading = false
      })
    },
    useEnchant (enchant) {
      switch (this.enchantType) {
        case 1:
          this.rune = enchant
          break
        case 2:
          this.crystal = enchant
          break
      }
      this.enchantType = 0
      this.enchants = []
    }
  },
  watch: {
    item () {
      this.power = this.item.power
      this.crystal = this.item.crystal
      this.rune = this.item.rune
    }
  }
}
</script>

<style scoped>
  .item-box {
    height: 100%;
    position: relative;
  }
  .icon {
    border: 1px solid #ff0;
    margin: 4px;
  }
  .row {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .label {
    display: block;
    font-size: 0.8em;
    margin-left: 12px;
  }
  .title {
    display: block;
    font-size: 0.9em;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 192px;
  }
  .params {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 44px;
    width: 100px;
  }
  .params > div {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    height: 16px;
    line-height: 16px;
    padding: 4px 2px 0px 24px;
  }
  .bind {
    background-image: url('../assets/stats/bind.png');
  }
  .cooldown {
    background-image: url('../assets/stats/time.png');
  }
  .buttons-panel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
  }
  .buttons-panel > button {
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    height: 32px;
    width: 32px;
  }
  .buttons-panel > .btn-use {
    background-image: url('../assets/use.png');
  }
  .buttons-panel > .btn-close {
    background-image: url('../assets/close.png');
  }
  .buttons-panel > .btn-view {
    background-image: url('../assets/view.png');
  }
  .buttons-panel > .btn-power-d {
    background-image: url('../assets/power-down.png');
  }
  .buttons-panel > .btn-power-u {
    background-image: url('../assets/power-up.png');
  }
  .buttons-panel > .btn-find {
    display: none;
  }
  .list {
    flex-grow: 1;
    overflow-y: auto;
  }
  .list > .row-base .item:first-child {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .item {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
  .item > span {
    display: inline-block;
    font-size: 0.8em;
  }
  .enchant-dialog {
    left: 0;
    top: 0;
  }
</style>
