<template>
  <div class="message-wrapper">
    <div class="message">
      <div class="icon" :class="{ 'loading': icon === 'progress' }" :style="{ backgroundImage: iconImg }">
        <div class="flare tl visible" />
        <div class="flare tr visible" />
        <div class="flare bl visible" />
        <div class="flare br visible" />
        <div class="dot" />
      </div>
      <pre><slot /></pre>
    </div>
  </div>
</template>

<script>
export default {
  name: 'message',
  data () {
    return {
      load: 0
    }
  },
  props: {
    icon: {
      type: String,
      required: false,
      default: 'progress'
    }
  },
  computed: {
    iconImg () {
      return 'url(' + require('../assets/msg-icons/' + this.icon + '.png') + ')'
    }
  }
}
</script>

<style scoped>
  .message-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
  }
  .message {
    align-items: center;
    background-image: url('../assets/dialog.png');
    background-size: 718px 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 1.2em;
    image-rendering: pixelated;
    justify-content: center;
    min-height: 96px;
    padding: 24px 16px 4px 16px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 2px #000;
    width: 366px;
    user-select: none;
  }
  .message::before, .message::after {
    background-image: url('../assets/dialog.png');
    background-position: -398px 0;
    background-size: 718px 4px;
    content: '';
    display: block;
    height: 2px;
    left: 39px;
    position: absolute;
    width: 320px;
  }
  .message::before {
    top: -1px;
  }
  .message::after {
    bottom: -1px;
  }
  .icon {
    background-size: 48px;
    height: 48px;
    image-rendering: pixelated;
    left: 175px;
    position: absolute;
    top: -24px;
    width: 48px;
  }
  .flare {
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url('../assets/flare.png');
    background-size: 12px 13px;
    display: none;
    height: 13px;
    image-rendering: pixelated;
    opacity: 0;
    position: absolute;
    width: 12px;
  }
  .flare.tl {
    animation-delay: 0.8s;
    animation-name: flares_1_2;
    left: 6px;
    top: 7px;
  }
  .flare.tr {
    animation-delay: 0s;
    animation-name: flares_1_2;
    right: 6px;
    top: 7px;
    transform: scale(-1, 1);
  }
  .flare.bl {
    animation-delay: 0s;
    animation-name: flares_3_4;
    bottom: 7px;
    left: 6px;
    transform: scale(1, -1);
  }
  .flare.br {
    animation-delay: 0.8s;
    animation-name: flares_3_4;
    bottom: 7px;
    right: 6px;
    transform: scale(-1, -1);
  }
  .dot {
    animation-direction: normal;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
    background-image: url('../assets/light.png');
    background-size: 6px;
    display: none;
    height: 6px;
    position: absolute;
    width: 6px;
  }
  .loading > .flare, .loading > .dot {
    display: block;
  }
  pre {
    font-weight: bold;
  }
  @keyframes flares_1_2 {
    0% {
      opacity: 0;
    }
    3.125% {
      opacity: 1;
    }
    6.25% {
      opacity: 0;
    }
    68.75% {
      opacity: 0;
    }
    71.875% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
  }
  @keyframes flares_3_4 {
    18.75% {
      opacity: 0;
    }
    21.875% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    53.125% {
      opacity: 1;
    }
    56.25% {
      opacity: 0;
    }
  }
  @keyframes rotate {
    0% {
      top: 24px;
      left: 24px;
      transform-origin: -8px -8px;
      transform: rotate(-105deg);
      opacity: 0;
    }
    2.5% {
      opacity: 1;
    }
    22.5% {
      opacity: 1;
    }
    25% {
      top: 24px;
      left: 24px;
      transform: rotate(105deg);
      opacity: 0;
      transform-origin: -8px -8px;
    }
    25.001% {
      top: 21px;
      left: 27px;
      transform-origin: -9px 9px;
      transform: rotate(-126deg);
    }
    27.5% {
      opacity: 1;
    }
    47.5% {
      opacity: 1;
    }
    50% {
      top: 21px;
      left: 27px;
      transform-origin: -9px 9px;
      transform: rotate(90deg);
      opacity: 0;
    }
    50.001% {
      top: 18px;
      left: 18px;
      transform-origin: 12px 12px;
      transform: rotate(-105deg);
      opacity: 0;
    }
    52.5% {
      opacity: 1;
    }
    72.5% {
      opacity: 1;
    }
    75% {
      top: 18px;
      left: 18px;
      transform-origin: 12px 12px;
      transform: rotate(105deg);
      opacity: 0;
    }
    75.001% {
      top: 27px;
      left: 22px;
      transform-origin: 10px -10px;
      transform: rotate(-90deg);
      opacity: 0;
    }
    77.5% {
      opacity: 1;
    }
    97.5% {
      opacity: 1;
    }
    99.99% {
      top: 27px;
      left: 22px;
      transform-origin: 10px -10px;
      transform: rotate(120deg);
      opacity: 0;
    }
  }
</style>
