<template>
  <div class="wrap">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="text" class="text-box" v-model="content" />
  </div>
</template>

<script>
export default {
  name: 'textbox',
  data () {
    return {
      content: ''
    }
  },
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    }
  },
  events: {
    changed: {
      custom: true
    }
  },
  model: {
    prop: 'content',
    event: 'changed'
  },
  watch: {
    content () {
      this.$emit('changed', this.content)
    }
  },
  mounted () {
    this.content = this.value
  }
}
</script>

<style scoped>
  .wrap {
    padding: 0 8px;
    position: relative;
    height: 27px;
    margin: 4px;
  }
  .text-box {
    background-image: url('../assets/input.png');
    background-position: 0 -27px;
    border: none;
    height: 27px;
    padding: 0;
    color: #fff;
    outline: none;
    width: 100%;
  }
  .wrap::before, .wrap::after {
    content: '';
    display: block;
    background-image: url('../assets/input.png');
    height: 27px;
    width: 8px;
    position: absolute;
    top: 0;
  }
  .wrap::before {
    left: 0;
  }
  .wrap::after {
    right: 0;
    transform: scale(-1, 1);
  }
</style>
