<template>
  <div @click.prevent="hideSidebars" id="app">
    <div class="clouds">
      <cloud :key="i + '_' + t" :type="t" v-for="(t, i) in clouds"/>
    </div>
    <nav class="top-menu">
      <div @click.stop.prevent="sidebarLeft = !sidebarLeft" class="item">
        <div class="menu-icon" />
      </div>
      <div class="right item" v-if="!$auth.loading && $auth.isAuthenticated">
        {{ $auth.user.name }}
      </div>
    </nav>
    <div :class="{ 'visible': sidebarLeft }" class="menu side left">
      <div class="item header" v-t="'app'"></div>
      <router-link :to="{ name: 'news' }" class="item" v-t="'menu.news'" />
      <router-link :to="{ name: 'calculator_run' }" class="item" v-t="'menu.calculator'" />
      <router-link :to="{ name: 'factions' }" class="item" v-t="'menu.factions'" />
      <router-link :to="{ name: 'bonuses' }" class="item" v-t="'menu.bonuses'" />
      <router-link :to="{ name: 'classes' }" class="item" v-t="'menu.classes'" />
      <router-link :to="{ name: 'skills' }" class="item" v-t="'menu.skills'" />
      <router-link :to="{ name: 'items_start' }" class="item" v-t="'menu.items'" />
      <a @click.prevent="login" class="item" v-if="!$auth.loading && !$auth.isAuthenticated" v-t="'action.sign_in'" />
      <a @click.prevent="logout" class="item" v-if="!$auth.loading && $auth.isAuthenticated" v-t="'action.sign_out'" />
    </div>
    <main class="wrapper">
      <router-view />
    </main>
    <div :class="{ 'visible': sidebarRight }" class="side right">
    </div>
  </div>
</template>

<script>
import cloud from '@/components/cloud.vue'
import runtime from 'serviceworker-webpack-plugin/lib/runtime'
export default {
  name: 'App',
  components: {
    cloud
  },
  data () {
    return {
      /* global _CLOUDS_ */
      clouds: _CLOUDS_.reduce((a, c) => {
        const r = Math.random() * 2
        for (let i = 0; i < r; i++) {
          a.push(c)
        }
        return a
      }, []),
      sidebarLeft: false,
      sidebarRight: false
    }
  },
  methods: {
    hideSidebars () {
      this.sidebarLeft = false
      this.sidebarRight = false
    },
    login () {
      this.$auth.loginWithRedirect()
    },
    logout () {
      this.$auth.logout({
        returnTo: window.location.origin
      })
    }
  },
  mounted () {
    if ('serviceWorker' in navigator) {
      runtime.register()
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style>
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #a7dbef;
    overscroll-behavior: contain;
  }
  #app, pre {
    font-family: Helvetica, Arial, sans-serif;
  }
  #app {
    -webkit-font-smoothing: antialiased;
    height: 320px;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    width: 100%;
  }
  .top-menu {
    background-image: url('assets/bg.png');
    background-size: 112px;
    border-bottom: 1px solid #E7CB67;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    image-rendering: pixelated;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
  }
  .top-menu .item {
    background-color: transparent;
    border: none;
    border-right: 1px solid #585858;
    color: #fff;
    display: block;
    height: 1.6em;
    line-height: 2em;
    min-width: 24px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    transition-delay: 16ms;
    transition-duration: 64ms;
    transition-property: background-color;
  }
  .top-menu .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrapper {
    box-sizing: border-box;
    display: flex;
    height: 320px;
    min-height: 100%;
    padding: 44px 8px 8px 8px;
  }
  .side {
    background-image: url('./assets/bg.png');
    background-size: 112px;
    box-shadow: 0 0 2px #000;
    height: 100%;
    image-rendering: pixelated;
    position: fixed;
    top: 0;
    transition-duration: .45s;
    width: 280px;
    z-index: 9;
  }
  .side.left {
    border-right: 2px solid #E7CF67;
    left: -100%;
    transition-property: left;
  }
  .side.right {
    border-left: 2px solid #E7CF67;
    right: -100%;
    transition-property: right;
  }
  .side.left.visible {
    left: 0;
  }
  .side.right.visible {
    right: 0;
  }
  .menu .item, .menu .item > span {
    color: #ffffff;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.6rem;
    padding: 7px 3px;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
    transition-delay: 16ms;
    transition-duration: 100ms;
    transition-property: background-color;
    user-select: none;
    white-space: nowrap;
  }
  .menu .item, .menu .item > span {
    padding-left: 16px;
  }
  .menu .item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menu a.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu .item.header {
    background-color: transparent;
    color: #ff0;
    font-weight: bold;
  }
  .menu .item:nth-child(even) > span {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menu .item:nth-child(odd) > .submenu > .item:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .item:nth-child(odd) > .submenu > .item:nth-child(even) {
    background-color: transparent;
  }
  a, a:link, a:visited {
    color: #fff;
    text-decoration: none;
  }
  .menu-icon {
    margin: 12px auto;
    position: relative;
    transition-property: height, margin;
  }
  .menu-icon::before, .menu-icon::after {
    content: '';
    position: absolute;
    transition-property: transform;
  }
  .menu-icon, .menu-icon::before, .menu-icon::after {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px #000;
    display: block;
    height: 3px;
    transition-duration: 0.15s;
    width: 24px;
  }
  .menu-icon::before {
    top: -8px;
  }
  .menu-icon::after {
    bottom: -8px;
  }
  .menu-icon:active {
    height: 0;
    margin: 13px auto;
  }
  .menu-icon:active::before {
    transform: rotate(45deg) translate(5px, 4px);
  }
  .menu-icon:active::after {
    transform: rotate(-45deg) translate(5px, -4px);
  }
  .link, .link:link {
    text-decoration: underline;
  }
  .menu .item.right {
    margin-left: auto;
    margin-right: 0;
  }

  .item-color-0 {
    color: #C3C3C3;
  }
  .item-color-1 {
    color: #66FF66;
  }
  .item-color-2 {
    color: #7CB7FF;
  }
  .item-color-3 {
    color: #FF66FF;
  }
  .item-color-4 {
    color: #FF6666;
  }
  .item-color-5 {
    color: #FFFFFF;
  }
  .item-color-6 {
    color: #FFCC00;
  }
  .item-color-7 {
    color: #FFFF66;
  }
  .item-color-8 {
    color: #7DDC78;
  }
  .bind-color-0 {
    color: #FFF;
  }
  .bind-color-1 {
    color: #FF8F00;
  }
  .bind-color-2 {
    color: #FFFF6F;
  }
  .bind-color-3 {
    color: #FFFF66;
  }
</style>
